*{
    margin: 0;
}

#containerNavbar{
    background-color: #ee7488;
    width: 100%;
    min-height: 200px;
}

#divLogo{
    position: relative;
    left: 3cm;
    float: left;
    width: 20%;
    max-height: 200px
}

#tombol{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 80%;
    min-height: 200px;
}

.tombol{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    margin: 1cm;
    font-size: 20px;
    border-radius: 15px;
}

.tombol:hover{
    background-color: rgb(69, 189, 189);
    transition: 0.3s all ease-in-out;
}

#garis{
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 50%;
}

#divGambar{
    min-height: 725px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#divKonten{
    display: flex;
    border: 5px solid gray;
    border-radius: 15px;
    width: 90%;
    min-height: 700px;
    align-items: center;
    animation-name: slideUp;
    animation-duration: 2s;
}

#gambarKonten{
    width: 400px;
    height: 400px;
    margin-left: 2cm;
    border-radius: 10px;
}

#divTulisan{
    width: 65%;
    justify-content: center;
    display: flex;
    margin-left: 10px;
}

#tulisan{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

#galeri{
    display: flex;
    justify-content: center;
    margin-top: 1cm;
}

#tulisan{
    padding: 10px;
    border-radius: 15px;
}

#containerGaleri{
    width: 100%;
    min-height: 600px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

#gambarGaleri{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 600px;
    width: 80%;
    row-gap: 30px;
    align-items: center;
}

#bison{
    min-width: 400px;
    height: 400px;
    border-radius: 10px;
}

@keyframes slideUp{
    0%{
        transform: translateY(5%);
        opacity: 0;
    }
}

.containerSelengkapnya{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.divSelengkapnya{
    width: 70%;
    display: flex;
    justify-content: end;
}

.btnSelengkapnya{
    border-radius: 8px;
    padding: 8px;
    background-color: #ee7488;
    text-decoration: none;
    color: black;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}